<div id="banner" class="image" data-stellar-background-ratio="0.4" >
  <center>
    <br>
    <br>
    <h1>Welcome To MotorWorld Group</h1>
  </center>
</div>
  <div class="blur">
    <a name="sales"></a>
    <div id="content_1" class="content">
    <br>
    <br>
      <h1>Motor Vehicle Sales</h1>
      <h2>
        <ul type="none">
          <li>We supply a wide variety of vehicles</li>
          <ul type="none">
            <li>Motor Vehicles</li>
            <li>4 X 4's</li>
            <li>Trucks</li>
            <li>Busses</li>
            <li>
              <div class="btn-group btn-group-lg" role="group" >
                <button  type="button" class="btn btn-info">VISIT THE SHOWROOM</button>
              </div>
            </li>
          </ul>
        </ul>
      </h2>
    </div>
    <a name="logisitics"></a>
    <div id="content_2" class="content">
    <br>
    <br>
      <h1>Motor Logisitics</h1>
      <h2>
        MotorWorld Has of recently opened up a new logisitics company, we currently have One truck in our fleet. We deliver grain, sands, wheat and any other loose carrying objects
      </h2>
      <h3>
        We also offer the following
      </h3>
      <h4>
        <ul type="none">
          <li>Crates</li>
          <li>Home Movers</li>
          <li>Retail Supply</li>
          <li>And many other goods</li>
          <li>
            <div class="btn-group btn-group-lg" role="group" >
              <button  type="button" class="btn btn-info">CLICK FOR FOR DETAIL</button>
            </div>
          </li>
        </ul>
      </h4>
    </div>
  </div>

